<div>
    <h2 id="page-heading">
        <span>Saved Searches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-saved-search" [routerLink]="['/saved-search/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Saved Search
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="savedSearches?.length === 0">
        <span>No savedSearches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="savedSearches?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="searchText"><span>Search Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let savedSearch of savedSearches ;trackBy: trackId">
                    <td><a [routerLink]="['/saved-search', savedSearch.id, 'view']">{{ savedSearch.id }}</a></td>
                    <td>{{ savedSearch.searchText }}</td>
                    <td>
                        <div *ngIf="savedSearch.user">
                            <a [routerLink]="['/netflix-user', savedSearch.user?.id, 'view']" >{{ savedSearch.user?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/saved-search', savedSearch.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/saved-search', savedSearch.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(savedSearch)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
